<!-- Navigation bar-->
<nav class="navbar navbar-expand-md nabar-light bg-light navbar-fixed-top">
  <div class="container-fluid navContainer">
    <!-- <div class="row"> -->
    <div class="col-md-1" style="height: 106px;">
      <a class="navbar-brand" href="#"><img style="width:100px; height:100px;" src="assets\Brand Logo.jpg"></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="col-md-11">
      <div class="navbar-collapse collapse" id="dropdown" claas="desktop-main" class="navLinks">
        <ul class="nav navbar-nav">
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="home">
              <span><i class="fa fa-fw fa-home icon" style="padding-left: 25px;"></i> HOME </span>

            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLinkActive="active" routerLink="products" id="navbardrop"
              data-toggle="dropdown">
              PRODUCTS
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Product type 1</a>
              <a class="dropdown-item" href="#">Product type 2</a>
              <a class="dropdown-item" href="#">Product type 3</a>
            </div>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="contact"><i style="padding-left: 25px;"
                class="fa fa-fw fa-envelope icon"></i>
              CONTACT
            </a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="about">
              <i class="fa fa-fw fa-info-circle icon" style="padding-left: 25px;"></i>
              ABOUT
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- <div class="col-md-1">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group" class="query">
            <input placeholder="Search for products, brands and more" class="searchBar" value="" data-reactid="810">
            <i class="fa fa-search iconSearch" aria-hidden="true"></i>
          </div>
        </form>
      </div> -->
    <!-- </div> -->
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Image SLider-->



<!-- Jumbotron -->

<hr class="my-4">
<footer class="footer">
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>
          Connect with us on
        </h2>
      </div>
      <div class="col-12 social padding">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-1">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-md-1">
            <a href="#"><i class="fa fa-youtube " aria-hidden="true"></i></a>
          </div>
          <div class="col-md-1">
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-1">
            <a href="#"><i class="fa fa-instagram " aria-hidden="true"></i></a>
          </div>
          <div class="col-md-1">
            <a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
    </div>

  </div>

</footer>
